@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #030014;

  --color-light-100: #cecefb;
  --color-light-200: #a8b5db;

  --color-gray-100: #9ca4ab;

  --color-dark-100: #0f0d23;

  --font-dm-sans: "DM Sans", sans-serif;

  --breakpoint-xs: 480px;

  --background-image-hero-pattern: url("/assets/hero-bg.png");
}

h1 {
  @apply mx-auto max-w-4xl text-center text-4xl font-black uppercase leading-tight tracking-[0.02em] text-white;
  font-family: "Bebas Neue", sans-serif;
}

h2 {
  @apply text-2xl font-bold text-white sm:text-3xl;
}

main {
  @apply min-h-screen relative bg-primary;
}

header {
  @apply sm:mt-10 mt-5;
}

header img {
  @apply w-full max-w-lg h-auto object-contain mx-auto drop-shadow-md;
}

@layer components {
  .pattern {
    @apply bg-hero-pattern w-full h-screen bg-center bg-cover absolute z-0;
    mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
  }

  .wrapper {
    @apply px-5 py-12 xs:p-10 max-w-7xl mx-auto flex flex-col relative z-10;
  }

  .trending {
    @apply mt-20;

    & ul {
      @apply flex flex-row overflow-y-auto gap-5 -mt-10 w-full hide-scrollbar;

      & li {
        @apply min-w-[230px] flex flex-row items-center;
      }

      & li p {
        @apply fancy-text mt-[22px] text-nowrap;
      }

      & li img {
        @apply w-[127px] h-[163px] rounded-lg object-cover -ml-3.5;
      }
    }
  }

  .search {
    @apply w-full bg-dark-100/20 backdrop-blur-md border border-white/10 px-4 py-3 rounded-lg mt-10 max-w-3xl mx-auto;

    & div {
      @apply relative flex items-center;
    }

    & img {
      @apply absolute left-4 size-5 object-contain opacity-70;
      width: 20px !important; /* Force override of header img w-full */
      height: 20px !important;
    }

    & input {
      @apply w-full bg-transparent py-2 sm:pr-10 pl-12 text-lg text-white placeholder-gray-400 outline-hidden;
    }
  }

  .all-movies {
    @apply space-y-9;

    & ul {
      @apply grid grid-cols-1 gap-5 xs:grid-cols-2 md:grid-cols-3 lg:grid-cols-4;
    }
  }

  .movie-card {
    @apply bg-dark-100 p-5 rounded-2xl shadow-inner shadow-light-100/10;

    & img {
      @apply rounded-lg h-auto w-full;
    }

    & h3 {
      @apply text-white font-bold text-base line-clamp-1;
    }

    & .content {
      @apply mt-2 flex flex-row items-center flex-wrap gap-2;

      & span {
        @apply text-sm text-gray-100;
      }

      & .lang {
        @apply capitalize text-gray-100 font-medium text-base;
      }

      & .year {
        @apply text-gray-100 font-medium text-base;
      }
    }

    & .rating {
      @apply flex flex-row items-center gap-1;

      & img {
        @apply size-4 object-contain;
      }

      & p {
        @apply font-bold text-base text-white;
      }
    }
  }
}

@utility text-boxed {
  @apply bg-[#E50914] text-black px-2 py-0 mx-1 inline-block;
}

@utility fancy-text {
  -webkit-text-stroke: 5px rgba(206, 206, 251, 0.5);
  font-size: 190px;
  font-family: "Bebas Neue", sans-serif;
}

@utility hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@utility mask-image-b {
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}